body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Roboto;
    background-color: antiquewhite;
    display: flex;
    justify-self: center;
}

content {
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}



.title {
    width: auto;
    padding: 10px;
    margin-top: 20px;

    background: rgb(253, 48, 48);
    border-radius: 5px;
    box-shadow: 0 4px 3px 0 rgb(20, 20, 20), 0 6px 8px 0  black;

    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align:center;
    font-weight: bold;
    letter-spacing: 3px;

}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item{
    width: 200px;
    height: 400px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: aliceblue;

    border: 3px solid rgb(194, 194,194);
    border-radius: 5px;
    box-shadow: 0 7px rgba(0, 0, 0, 0.3);
}

.contacts p {
    margin: 3px;
}

.contacts p:first-child {
    font-weight: bold;
    }


.contacts p:last-child {
 border-left: 3px solid rgb(253, 48, 48);;
}

.license {
    font-size: 9px;
    text-align: justify;
    color: gray;
}